html {
  font-size: 100px;
  width: 100vw;
  min-height: 100vh;
}

body {
  font-size: .1rem; // 相当于10px
  width: 100vw;
  min-height: 100vh;
  //font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.back__icon{
  position: relative;
  top: .08rem;
  left: .04rem;
  font-size: .24rem;
  text-decoration: none;
}