html {
  font-size: 100px;
  width: 100vw;
  min-height: 100vh;
}

body {
  font-size: .1rem; // 相当于10px
  width: 100vw;
  min-height: 100vh;
}

.back__icon{
  color: #fff;
  font-size: .26rem;
  position: absolute;
  top: .14rem;
  left: .14rem;
}