@font-face {
  font-family: 'iconfont';  /* Project id 3299924 */
  src: url('//at.alicdn.com/t/font_3299924_tvgcg0p0wa.woff2?t=1652012456807') format('woff2'),
       url('//at.alicdn.com/t/font_3299924_tvgcg0p0wa.woff?t=1652012456807') format('woff'),
       url('//at.alicdn.com/t/font_3299924_tvgcg0p0wa.ttf?t=1652012456807') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}